<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ISKOLAR</title>
</head>
<body>
    <header></header>

    <div class="header-color-fade-div">
        <div id="h-c-f-d-1"></div>
        <div id="h-c-f-d-2"></div>
        <div id="h-c-f-d-3"></div>
        <div id="h-c-f-d-4"></div>
    </div>

    <div class="search-div">
        <form action="/search" method="GET">
            <button type="submit" class="btn btn-primary" id="search-btn">Search for Name</button>
        </form>
    </div>

    <div class="sort-div">
        <form action="/sort" method="GET">
            <button type="submit" class="btn btn-primary" id="sort-btn">Sort Lists</button>
        </form>
    </div>

    <div class="filter-div">
        <form action="/filter" method="GET">
            <button type="submit" class="btn btn-primary" id="filter-btn">Filter Lists</button>
        </form>
    </div>

    

    <script type="text/javascript" src="/js/script.js" ></script>
</body>
</html>