<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ISKOLAR | Search</title>
</head>
<body>
    <header></header>

    <!-- <div class="sub-header"></div> -->

    <div class="header-color-fade-div">
        <div id="h-c-f-d-1"></div>
        <div id="h-c-f-d-2"></div>
        <div id="h-c-f-d-3"></div>
        <div id="h-c-f-d-4"></div>
    </div>

    <div class="search-div">
        <button type="button" class="btn btn-secondary" id="search-btn">Search for Name</button>
    </div>

    <div class="sort-div">
        <button type="button" class="btn btn-secondary" id="sort-btn">Sort Lists</button>
    </div>

    <div class="filter-div">
        <button type="button" class="btn btn-secondary" id="filter-btn">Filter Lists</button>
    </div>

    <section class="search-section">

            <div class="search-side-section">
                <form class="search-form">
                    <input type="text" name="first_name" id="first-name-input" placeholder="First Name" required>
                    <input type="text" name="last_name" id="last-name-input" placeholder="Last Name" required>
                    <input type="text" name="middle_name" id="middle-name-input" placeholder="Middle Name" required>
                    <input type="number" name="user_id" id="user-id-input" required placeholder="User ID" >
                    <button type="submit" class="btn btn-success" id="search-btn">Success</button>
                </form>
            </div>
    </section>

    <script type="text/javascript" src="/js/script.js" ></script>
</body>
</html>