*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background: white;
}

header{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:450px;
    background: url('./imgs/iskolar_main_bg.jpg');
    background-size: 100% 100%;
    background-position: center center;
    transition: 1s; 
}

.sub-header{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:80px;
    transition: 1s; 
    border:1px solid black;
}

.header-color-fade-div{
    position: absolute;
    top: 56.5%;
    left:0;
    width:100%;
    height:80px;
    transition: 1s; 
}

.header-color-fade-div #h-c-f-d-1{
    width:100%;
    height:20px;
    background: #e0b938;
}

.header-color-fade-div #h-c-f-d-2{
    width:100%;
    height:20px;
    background: #e3c14f;
}

.header-color-fade-div #h-c-f-d-3{
    width:100%;
    height:20px;
    background: #e7c865;
}

.header-color-fade-div #h-c-f-d-4{
    width:100%;
    height:20px;
    background: #ead07b;
}

.search-div{
    position: absolute;
    top:530px;
    left:0;
    width:33%;
    height:260px;
    transition:1s;
}

.search-div #search-btn{
    position: absolute;
    top:40%;
    left:30%;
    width:35%;
    height:20%;
    font-size: 1.3vw;
}

.search-section{
    position: absolute;
    top:0;
    /* left:-100%; */
    width:100%;
    height:100%;
    transition: 1s;
}

.search-section .search-side-section{
    position: absolute;
    top:8%;
    left:0;
    width:20%;
    height:100%;
    background: dimgray;
}

.search-section .search-side-section .search-form #first-name-input{
    top:10%;
}

.search-section .search-side-section .search-form #middle-name-input{
    top:20%;
}

.search-section .search-side-section .search-form #last-name-input{
    top:30%;
}

.search-section .search-side-section .search-form #user-id-input{
    top:40%;
}

.search-section .search-side-section .search-form #first-name-input,
.search-section .search-side-section .search-form #last-name-input,
.search-section .search-side-section .search-form #middle-name-input,
.search-section .search-side-section .search-form #user-id-input{
    position: absolute;
    left:9%;
    width:80%;
    height:5%;
    outline:none;
    text-align: center;
    border-radius: 5px;
    border:0;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.search-section .search-side-section .search-form #search-btn{
    position: absolute;
    top:50%;
    left:9%;
    width:80%;
    height:5%;
}

.sort-div{
    position: absolute;
    top:530px;
    left:33.3%;
    width:33%;
    height:255px;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.filter-div{
    position: absolute;
    top:530px;
    left:66.3%;
    width:33%;
    height:260px;
}

.sort-div #sort-btn{
    position: absolute;
    top:40%;
    left:30%;
    width:35%;
    height:20%;
    font-size: 1.3vw;
}

.filter-div #filter-btn{
    position: absolute;
    top:40%;
    left:30%;
    width:35%;
    height:20%;
    font-size: 1.3vw;
}