*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

header{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:60%;
    background: url('./imgs/iskolar_main_bg.jpg');
    background-size: 100% 100%;
    background-position: center center;
    transition: 1s; 
}

.header-color-fade-div{
    position: absolute;
    /* top: 56.5%; */
    top:60%;
    left:0;
    width:100%;
    height:12%;
    transition: 1s; 
}

.header-color-fade-div #h-c-f-d-1{
    width:100%;
    height:25%;
    background: #e0b938;
}

.header-color-fade-div #h-c-f-d-2{
    width:100%;
    height:25%;
    background: #e3c14f;
}

.header-color-fade-div #h-c-f-d-3{
    width:100%;
    height:25%;
    background: #e7c865;
}

.header-color-fade-div #h-c-f-d-4{
    width:100%;
    height:25%;
    background: #ead07b;
}

.search-div{
    position: absolute;
    /* top:530px; */
    top:72%;
    left:0;
    width:33%;
    height:28%;
    transition:1s;  
}

.search-div #search-btn{
    position: absolute;
    top:40%;
    left:30%;
    width:35%;
    height:20%;
    font-size: 1.3vw;
}

.sort-div{
    position: absolute;
    top:72%;
    left:33.3%;
    width:33%;
    height:28%;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.filter-div{
    position: absolute;
    top:72%;
    left:66.3%;
    width:33%;
    height:28%;
}

.sort-div #sort-btn{
    position: absolute;
    top:40%;
    left:30%;
    width:35%;
    height:20%;
    font-size: 1.3vw;
}

.filter-div #filter-btn{
    position: absolute;
    top:40%;
    left:30%;
    width:35%;
    height:20%;
    font-size: 1.3vw;
}