*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.sub-header{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:80px;
    background-color: #0838e2;
}

.sub-header label{
    position: absolute;
    top:0;
    left:25%;
    color:#e9d9f2;
    font-size: 3.5vw;
    width:50%;
    height:100%;
    text-align: center;
}

.sub-header #iskolar-logo,
.sub-header #bataan-logo{
    position: absolute;
    width:8%;
    height:80%;
}

.sub-header #iskolar-logo{
    top:7%;
    left:25%;
}

.sub-header #bataan-logo{
    top:7%;
    left:67%;
}

.search-section{
    position: absolute;
    top:10%;
    left:0%;
    width:100%;
    height:100%;
    transition: 1s;
}

.search-section .search-side-section{
    position: absolute;
    top:15%;
    left:3%;
    width:20%;
    height:50%;
    border: 2px solid #b5c5fc;
    border-radius: 5%;
}

.search-section .search-side-section .search-form #first-name-input{
    top:15%;
}

.search-section .search-side-section .search-form #middle-name-input{
    top:30%;
}

.search-section .search-side-section .search-form #last-name-input{
    top:45%;
}

.search-section .search-side-section .search-form #user-id-input{
    top:60%;
}

.search-section .search-side-section .search-form #first-name-input,
.search-section .search-side-section .search-form #last-name-input,
.search-section .search-side-section .search-form #middle-name-input,
.search-section .search-side-section .search-form #user-id-input{
    position: absolute;
    left:9%;
    width:80%;
    height:10%;
    outline:none;
    text-align: center;
    background: #ced9fd;
    border:1px solid #3b67f7;
    border-top:none;
    border-left:none;
    border-right:none;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 1vw;
}

.search-section .search-side-section .search-form #search-btn{
    position: absolute;
    top:75%;
    left:9%;
    width:80%;
    height:10%;
    font-size: 1vw;
}

.search-section .search-body-section{
    position: absolute;
    top:5%;
    right:3%;
    width:70%;
    height:80%;
    border: 2px solid #b5c5fc;
    overflow: auto;
}

.search-section .search-body-section .sub-section{
    margin-top:5%;
    width:100%;
    height:auto;
}

.search-section .search-body-section .sub-section .last-name-column{
    left:0;
}

.search-section .search-body-section .sub-section .first-name-column{
    left:25.35%;
}

.search-section .search-body-section .sub-section .middle-name-column{
    left:50.5%;
}

.search-section .search-body-section .sub-section .user-id-column{
    left:75.5%;
}


.search-section .search-body-section .sub-section .last-name-column,
.search-section .search-body-section .sub-section .first-name-column,
.search-section .search-body-section .sub-section .middle-name-column,
.search-section .search-body-section .sub-section .user-id-column{
    position: absolute;
    top:0;
    width:24.5%;
    height:100%;
    display: inline-block;
    overflow: visible;
}

.search-section .search-body-section .sub-section .last-name-column #title-col,
.search-section .search-body-section .sub-section .first-name-column #title-col,
.search-section .search-body-section .sub-section .middle-name-column #title-col,
.search-section .search-body-section .sub-section .user-id-column #title-col{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    width:100%;
    background-color:#ddb228;
}

.search-section .search-body-section .sub-section .last-name-column .last-name-rows,
.search-section .search-body-section .sub-section .first-name-column .first-name-rows,
.search-section .search-body-section .sub-section .middle-name-column .middle-name-rows,
.search-section .search-body-section .sub-section .user-id-column .user-id-rows{
    display: block;
    width:100%;
    height:6%;
    text-align: center;
    font-size: 1.5vw;
}